// Place all the styles related to the Api::Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  margin-top: 1.25rem;
  margin-bottom: 2.6rem;
}

.comment > h3 {
  font-size: 1.2rem;
}

.commenter-details {
  display: flex;
}

.commenter-avatar {
  border-radius: 2rem;
  background-color: blue;
  height: 2rem;
  width: 2rem;
  margin-right: 0.6rem;
}

.commenter-username {
  color: var(--blue);
}

.commenter-work {
  font-size: .7rem;
  color: var(--grey1);
  margin-top: 0.875rem;
  margin-bottom: 0.7rem;
}

.comment-body {
  margin-bottom: 0.9rem;
  font-size: 0.9rem;
  line-height: 1.575rem;
}

.comment-timestamps {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  font-style: italic;
}

.commenter-main {
  // min-width: 5rem;
  width: 100%;
}

.comment-edited {
  margin-right: 0.2rem;
}

.comments-div-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments-div-inner > ul {
  max-width: 60rem;
  width: 100%;
}


.comments-div-inner > ul > h3 {
  font-size: 1.2rem;
}

.comments-h3-icon {
  margin-right: 0.4rem;
  font-size: 1.2rem;
}


.comment-form {
  margin-bottom: 2rem;
}

.text-area {
  padding: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-left: solid 0.3rem var(--blue);
  border-radius: 0.2rem;
  width: 100%;
  height: 6.3rem;
  background-color: var(--grey3);
  color: var(--white);
  resize: vertical;
  outline: none;
}

button.comment-form-button {
  background-color: var(--blue);
  font-size: .7rem;
  height: 1.7rem;
  width: 7.8rem;
}

div.comment-form-button-div {
  background-color: var(--blue);
  opacity: 0.6;
  font-size: .7rem;
  height: 1.7rem;
  width: 7.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  cursor: not-allowed;
}

.comment-like-reply {
  display: flex;
  align-items: center;
  font-size: .8rem;
}

.comment-num-likes {
  position: relative;
  bottom: 0.05rem;
}

.comment-like-reply > div > .inline-icon {
  font-size: 0.8rem;
  position: relative;
  top: 0.15rem;
}

.comment-like-reply > div {
  margin-right: 0.9rem;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
}

.comment-created {
  position: relative;
  top: .1rem;
}

.comment-reply-textarea {
  margin-top: 1rem;
}