.modal-container {
  // position: fixed;
}

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: var(--modal);
}

.modal {
  z-index: 1000;
  // position: fixed;
  // top: 5rem;
  // left: 50%;
  // transform: translateX(-50%) translateY(0%);
  // background-color: var(--bgc1);
  position: absolute;
  left: 50%;
  transform: translateX(50%) translateY(10%);
  background-color: var(--bgc1);
  width: 100vw;
  max-width: 37.5rem;
}

.modal-footer {
  margin: 1rem;
}

.close {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translateX(-50%) translateY(50%);
  color: var(--grey1);
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

.justify-center {
  display: flex;
  justify-content: center;
}