/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_reset
 *= require_tree .
 *= require_self
 */

 :root {
  --blue: #00B2FF;
  --white: rgb(233, 233, 233);
  --grey1: rgba(255, 255, 255, 0.5);
  --grey2: rgba(255, 255, 255, 0.116);
  --grey3: rgba(0, 0, 0, 0.3);
  --bgc1: rgb(32.5, 32.5, 32.5);
  --bgc2: rgb(23, 23, 23);
  --modal: rgba(0, 0, 0, 0.7);
}

 * {
   font-size: 1rem;
 }

body {
  background-color: var(--bgc2);
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.sticky-header {
  border-bottom: solid var(--grey2) 0.05rem;
  display: flex;
  justify-content: space-between;
}

.artcoag-front {
  font-weight: 700;
}

h1.artcoag {
  display: flex;
  color: white;
  font-size: 1.1rem;
}

h1.artcoag:before {
  // display: block;
  height: 2rem;
  width: 2rem;
  // content: url("artcoag.png");
  background-color: blue;
  content: "A";
  image: image-url("artcoag.png");
}

.sticky-header > a {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;

  align-self: center;
}

