/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_reset
 *= require_tree .
 *= require_self
 */

 :root {
  --blue: #00B2FF;
  --green: rgb(92, 196, 92);
  --white: rgb(233, 233, 233);
  --white2: rgba(255, 255, 255, 0.75);
  --grey1: rgba(255, 255, 255, 0.5);
  --grey2: rgba(255, 255, 255, 0.116);
  --grey3: rgba(0, 0, 0, 0.3);
  --bgc1: rgb(32.5, 32.5, 32.5);
  --bgc2: rgb(23, 23, 23);
  --modal: rgba(0, 0, 0, 0.7);
  --vhBody: calc(100vh - 5.7rem);
  --vhBody2: calc(200vh - 11.4rem);
}

 * {
   font-size: 1rem;
 }

 nav {
  height: 2.5rem;
  display: flex;
  align-items: center;
  border-bottom: 0.05rem solid var(--grey2);
}

.nav-bar-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 3rem;
  margin-right: 3rem;
  width: 100%;
}

body {
  background-color: var(--bgc2);
  color: var(--white2);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.body-div {
  padding-top: 3.15rem;
  // padding-top: 5.7rem;
}

.header {
  position: fixed;
  top: 0%;
  width: 100%;
  background-color: var(--bgc2);
  z-index: 1;
}

a.github > svg {
  color: black;
  font-size: 2rem;
  background-color: white;
  border-radius: 2rem;
}

a.linkedin > svg {
  color: rgb(36, 143, 214);
  font-size: 2rem;
  background-color: white;
  border-radius: 0.2rem;
}

.sticky-header {
  border-bottom: solid var(--grey2) 0.05rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.2rem;
}

.artcoag-front {
  font-weight: 700;
}

h1.artcoag {
  display: flex;
  color: white;
  font-size: 1.1rem;
  align-items: center;
}

h1.artcoag:before {
  // display: block;
  height: 2rem;
  width: 2rem;
  // content: url("artcoag.png");
  background-color: blue;
  content: "A";
  image: image-url("artcoag.png");
}

.sticky-header > a {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;

  align-self: center;
}


::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--grey1);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--white);
}

.button {
  border: none;
  border-radius: 0.2rem;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.upload-button {
  color: var(--white);
  transition: color 0.2s;
}
.upload-button:visited {
  color: var(--white);
}

.upload-button:hover {
  color: var(--blue);

}